*{
    /* margin: 0;
    padding: 0; */
    /* box-sizing: border-box; */
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}



/* .nav-container img{
    padding-left: 120px;
    padding-top: 16px;
}

.nav-container a{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */



/* main style */

.nav-container img{
    width: 139px;
    height: 60px;
}

header{
    background-color: #FFFFFF;
    padding-top: 16px;

}

nav{
    width: 85%;
    max-width: 1600px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    padding: 18px 346px;
    
}

nav .btn{
    padding: 10px 16px;
    border-radius: 5px;
    background-color: #469165;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
}

nav .menu a{
    font-size: 16px;
    color: #000000;
    font-weight: bolder;
    text-decoration: none;
}

/* .banner section{
     max-width: 100%;
    height: auto;
   
    
} */

.color-green{
    color: #30B868;
}
#banner .banner-img{
    
   background-image: url(../assets/COVER\ 3.png);
   
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   
}

#banner .banner-section .box{
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    color: #469165;
    padding: 8px 34px;
    border: none;
    border-radius: 30px;
}


#banner .banner-img h1{
    font-size: 60px;
    font-weight: bold;
    line-height: 74px;
    color: white;
}

#banner .banner-img p{
    font-size: 15px;
    font-weight: 500px;
    color: white;
}

#banner .banner-section .btn{
    padding: 16px 46px;
    border-radius: 5px;
    background-color: #469165;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
    
}

/* #card{
    padding-top: 70px;
}

#card .card-content h2{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background-color: #FFFFFF;

}

#card .card-heading p{
    font-size: 16px;
    font-weight: 300px;
    text-align: center;
    
   
}

#card .box-content{
    width: 85%;
    max-width: 1600px;
    margin: 0 auto;
}

#card .icon-box .box-content {
    display: flex;
    gap:24px;
    width: 1360px;
    height: 300px;
  background-color: 1px solid red;
   
}

#icon-box .box-content{


}

#card .icon-box .box-content .src{
    background-color: red;
} */

#skills{
    padding-top: 20px;
    padding-bottom: 100px;
}

#skills .skills-container{
    
    width: 1360px;
    height: 450px;
    margin: 0 auto;
    /* box-shadow: 0 6px 50px; */
    

}

#skills .skills-container .skills-box{
    display: flex;
    gap: 25px;
}


.skills-box .skill-card{
    padding: 30px;
    /* border: 1px solid red; */
    box-shadow: 0 6px 50px 0 #00000011;
    max-width: 322px;
}


.skills-container .section-heading h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 300px;
    margin-top: 30px;
    
}

.skills-container .section-heading p{
    text-align: center;
    font-size: 16px;
    font-weight: 200px;
    margin-bottom: 25px;
    color: #627382;
}

.skills-container .skills-box{
    display: flex;
    gap: 24px;
}

.skills-box .skill-card{
    padding: 30px;
    /* border: 1px solid red; */
    max-width: 322px;

}

.skill-card img{
    max-width: 60px;
    margin-bottom: 16px;
    background-color: #F95555;
    padding: 14px;
    border-radius: 35px;
}

.skill-card h3{
    font-size: 24px;
    font-weight: 600px;
    color: #001931;
    margin-bottom: 16px;

}

.skill-card p{
    font-size: 16px;
    font-weight: 400px;
    color: #627382;
}


.image{
    display: flex;
    /* border: 1px solid red; */
    padding-left: 120px;
    margin-right: 60px;
    padding-top: 120px;
    width: 100%;
    max-width: 1600px;
}

.second-card{
    display: flex;
}

.image .second-card{
    padding-left: 120px;
    margin: 60px ;
    padding-right: 120px;
   
}

.image .second-card h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}

.image .second-card .text-and-icons p{
    padding-left: 30px;
    
}

.image .second-card .text-and-icons img{
    padding-right: 30px;
    
}

.access-card{
  display: flex;
  /* border: 1px solid red; */
  padding: 120px;
  background-color: #F7F6F2;
   display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  
}


.access-card .btn{
    padding: 10px 16px;
    border-radius: 5px;
    background-color: #469165;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
}



/* work section */



.work{
     width: 1360px;
     height: 384px;
     background-color: #F7F6F2;
     margin: 0 auto;
   
}

.work h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 16px;
  
}

.work p{
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 24px;

}

.work .btn {
    background-color: #469165;
    border: none;
    padding: 16px 16px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    color: white;
    margin-left: 583px;
   

}

.work h5{
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 80px;
}












/* footer */


.footer{
    width: 1785px;
    height: 348px;
   
    background-color: #001931;
    padding-left: 120px;
    padding-top: 120px;
    text-align: center;
    
}

.footer .logo-1 img{
    width: 139px;
    height: 60px;

}



.footer  .second img{
    height: 24px;
    width: 24px;
   
}

.footer .logo-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-right: 120px;
}


.footer p {
    padding-top: 80px;
    color: white;
}

