*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}



/* .nav-container img{
    padding-left: 120px;
    padding-top: 16px;
}

.nav-container a{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */



/* main style */

.nav-container img{
    width: 139px;
    height: 60px;
}

header{
    background-color: #FFFFFF;
    padding-top: 16px;

}

nav{
    width: 85%;
    max-width: 1600px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    padding: 18px 346px;
    
}

nav .btn{
    padding: 10px 16px;
    border-radius: 5px;
    background-color: #469165;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
}

nav .menu a{
    font-size: 16px;
    color: #000000;
    font-weight: bolder;
    text-decoration: none;
}